<div class="grid-container">
    <h1 class="mat-h1">Mi perfil</h1>
    
    <mat-grid-list cols="3" rowHeight="1:1">

        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-card class="card">
                <mat-card-header>
                    <div mat-card-avatar class="header-image"></div>
                    <mat-card-title>{{usuario.nombre}}</mat-card-title>
                    <mat-card-subtitle>{{usuario.email}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="{{usuario.imagen}}" alt="Photo of a Shiba Inu">
            </mat-card>
        </mat-grid-tile>


        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <mat-card class="card">
                <mat-card-header>
                    <mat-card-title>Configuración</mat-card-title>
                    <mat-card-subtitle>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</mat-card-subtitle>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content class="card-content">
                    <p>
                        En el campo de Cuentas podra seleccionar una cuenta por defecto.
                    </p>
                    <mat-form-field>
                        <mat-label>Cuentas</mat-label>
                        <mat-select placeholder="Cuentas" value="{{usuario.cuenta_default}}">
                        <!-- <mat-select placeholder="Cuentas" [(value)]="usuario.cuenta_default"> -->
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let cuenta of cuentas" (click)="setCuentaDefault(cuenta._id)" value="cuenta._id">
                                {{cuenta.nombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>