<mat-sidenav-container class="sidenav-container" *ngIf="estaLogeado">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="javascript:void(0)" routerLink="/home">
        <mat-icon>home</mat-icon> <span> Home</span></a>
      <a mat-list-item href="javascript:void(0)" routerLink="/mis-cuentas">
          <mat-icon>attach_money</mat-icon> <span> Mis Cuentas</span></a>
      <a mat-list-item href="javascript:void(0)" routerLink="/mis-registros">
          <mat-icon>list</mat-icon> <span> Mis Movimientos</span></a>
      <a mat-list-item href="javascript:void(0)" routerLink="/mi-perfil">
          <mat-icon>face</mat-icon> <span> Mi Perfil</span></a>
      <a mat-list-item href="javascript:void(0)" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon> <span> Cerrar sesión</span></a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>AVSA</span>
    </mat-toolbar>
    
    <!-- Add Content Here -->
    <div class="grid-container">
      <router-outlet></router-outlet>
    </div>

    <!-- <a mat-fab color="primary" class="flotante" routerLink="/nuevo-registro"><mat-icon>add</mat-icon></a> -->
    <a mat-fab color="primary" class="flotante" [matMenuTriggerFor]="agregar"><mat-icon>add</mat-icon></a>

    <mat-menu #agregar="matMenu">
      <button mat-menu-item routerLink="/nueva-cuenta">
          <mat-icon>attach_money</mat-icon> 
          <span> Nueva Cuenta</span></button>
      <button mat-menu-item routerLink="/nuevo-registro">
          <mat-icon>list</mat-icon>
          <span>Nuevo Movimiento</span>
      </button>
    </mat-menu>

  </mat-sidenav-content>
</mat-sidenav-container>

<router-outlet *ngIf="!estaLogeado"></router-outlet>